@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 2px;
}

::-webkit-scrollbar-track{
    border-radius: 50%;
}